chromadb
jq
langchain
langchain-chroma
langchain-community
langchain_core
langchain-huggingface
langchain-mistralai
langchain_openai
langchain-text-splitters
langchain_community
langgraph
python-dotenv